alias pacman='sudo pacman'

alias ls='ls --color=auto --group-directories-first'
alias grep='grep --color=auto'

alias l='ls -lhF'
alias la='ls -lahF'
alias ll='la'

if [[ -x $(command -v nvim) ]]; then
    alias vi="nvim -p"
    alias vim="nvim -p"
fi

alias rm='rm -i'

#alias ssh='ssh -c arcfour,blowfish-cbc -XC'

alias se="sudoedit"
